*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color:#f5f7fa;
    padding: 20px;
    font-family: Montserrat;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background: #ffffff;
    display: flex;
	max-width: 1200px;
	margin: 0 auto;
	box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
    background: #1e2939;
    width: 370px;
    padding: 40px 0;
}

.my-photo {
    width: 370px;
}

.about-me-container {
    padding: 110px 90px;
}
.addres_container{
    margin: 60px 40px 0 40px;
    font-size: 27px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
}
.contacts-container {
    margin: 60px 40px 0 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

.contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #434c5a;
    text-decoration: none;
}
.contacts-link:hover{
    color: #ffff;
}

.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin: 0 10px 0 0;
}

.tech-skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
}

.tech-skills-container {
    margin: 55px 40px 0 40px;
}

.tech-skills-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px ;
    color:#ff6b08
}
.tech-skills-item ul{
    margin: 0 0 0 15px;
}
.tech-skills-item ul li{
    list-style: none;
}
.tech-skills-text{
    color:#dee0e2;
}
.soft-skills-container {
    margin: 55px 40px 0 40px;
}

.info-containers{
    margin: 0 0 65px 0;
}

.profession{
	font-size: 20px;
	font-weight: 700;
	line-height: 24px;
	margin-bottom: 23px;
}
.name{
	font-weight: 700;
	line-height: 89px;
}
.description{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin-top: 24px;
}
.projects-containers{
	margin-bottom: 55px;
}
.about-me-title{
	font-size: 22px;
	font-weight: 700;
	line-height: 24px;
	margin: 0 0 20px 0;
}
.projekta-item{
	font-weight: 700;
	margin-left: 17px;
}
.projekts-link{
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #595959;
}
.point{
	font-weight: 100;
	color: #595959;
}
.tech-name{
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}

.profession-title{
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
    margin: 5px 0 10px 0;
}
.profession-company{
	color: #ff7011;
	font-weight: 700;
}
.Education_1{
    margin: 0 0 30px 0;
}

.profession-time{
	color: #a8a8a8;
	font-family: montserrat;
	font-size: 12px;
	font-weight: 400;
	line-height: 24px;
}
.profession-divider{
	color: #000;
}
.profession-duties{
	margin: 15px 0 30px 0;
}
.profession-duties-item{
	color: #595959;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 17px;
}